html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

******************************************************

*{
    box-sizing: border-box; /* bloque l'élément, le recentre et fait une marge.*/
}

h1{
    font-size: 70px !important;
    color: white;
    margin-top: 50px;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
}

h2{
    font-size: 50px;
    color: cornflowerblue;
    padding: 20px;
    font-weight: bold;
    font-family: 'Niramit', sans-serif;
}

h3{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
}

h5{
    font-size: 60px !important;
    color: coral;
    text-shadow: 0 0 10px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

blockquote{
    font-style: italic;
    font-size: 120%;
}

strong{
    font-weight: bold;
}

main{
    background: GAINSBORO;
    margin: auto;
    width: 1000px;
}

aside{
    height: 500px;
}

section{
    margin-top: 50px;
    padding: 20px;
}

footer{
    background: MISTYROSE;
    height: 50px;
}

/***************HEADER**************/

header{
    background-color: slategray;
}